<div class="x_title">
 <h3></i>User</h3>
 <div class="clearfix"></div>
</div>
<form class="form-horizontal form-label-left" novalidate>
  <div class="item form-group">
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="name">First Name <span class="required">*</span>
    </label>
    <div class="col-md-10 col-sm-6 col-xs-12">
      <input id="firstname" class="form-control col-md-7 col-xs-12" data-validate-length-range="1"  firstname="name" required="required" type="text">
    </div>
  </div>
  <div class="item form-group">
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="name">Last Name <span class="required">*</span>
    </label>
    <div class="col-md-10 col-sm-6 col-xs-12">
      <input id="lastname" class="form-control col-md-7 col-xs-12" data-validate-length-range="2" lastname="name" required="required" type="text">
    </div>
  </div>
  <div class="item form-group">
    <label class="control-label col-md-2 col-sm-3 col-xs-12">Gender <span class="required">*</span>
    </label>
    <div class="col-md-10 col-sm-6 col-xs-12">
      <div id="gender" class="btn-group" data-toggle="buttons">
        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
          <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
        </label>
        <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
          <input type="radio" name="gender" value="female"> Female
        </label>
      </div>
    </div>
  </div>
  <div class="item form-group">
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="telephone">Phone Number <span class="required">*</span>
    </label>
    <div class="col-md-10 col-sm-6 col-xs-12">
      <input type="tel" id="phonenumber" name="phonenumber" required="required" data-validate-length-range="10,20" class="form-control col-md-7 col-xs-12">
    </div>
  </div>
  <div class="item form-group">
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
     <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
</form>
