<div class="x_title">
 <h3></i>Password</h3>
 <div class="clearfix"></div>
</div>
<form class="form-horizontal form-label-left" novalidate>
  <div class="item form-group">
   <label for="oldpassword" class="control-label col-md-3">Current Password</label>
     <div class="col-md-9 col-sm-6 col-xs-12">
     <input id="current_password" type="password" name="password" data-validate-length="6,8" class="form-control col-md-7 col-xs-12" required="required">
   </div>
 </div>
  <div class="item form-group">
   <label for="newspassword" class="control-label col-md-3">New Password</label>
     <div class="col-md-9 col-sm-6 col-xs-12">
      <input id="new_password" type="password" name="new_password" data-validate-length="6,8" class="form-control col-md-7 col-xs-12" required="required">
     </div>
   </div>
    <div class="item form-group">
     <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
       <div class="col-md-9 col-sm-6 col-xs-12">
         <input id="repeat_password2" type="password" name="repeat_password" data-validate-linked="new_password" class="form-control col-md-7 col-xs-12" required="required">
     </div>
   </div>
    <div class="form-group">
       <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
         <button type="submit" class="btn btn-success">Change Password</button>
       </div>
     </div>
   </form>
