<div class="x_title">
 <h3>General</h3>
 <div class="clearfix"></div>
</div>
<form class="form-horizontal form-label-left" novalidate>
    <div class="item form-group">
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="name">Company Name<span class="required">*</span>
    </label>
    <div class="col-md-10 col-sm-6 col-xs-12">
      <input id="companyname" class="form-control col-md-7 col-xs-12" data-validate-length-range="1"  firstname="name" required="required" type="text">
    </div>
  </div>
  <div class="item form-group">
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="name">Address <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input id="adress" class="form-control col-md-7 col-xs-12" data-validate-length-range="4" adress="adress" required="required" type="text">
    </div>
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="name">Number <span class="required">*</span>
    </label>
    <div class="col-md-2 col-sm-6 col-xs-12">
      <input id="adressnumber" class="form-control col-md-7 col-xs-12" data-validate-length-range="1" lastname="name" required="required" type="text">
    </div>
  </div>
  <div class="item form-group">
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="name">Zipcode <span class="required">*</span>
    </label>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <input id="zipcode" class="form-control col-md-7 col-xs-12" data-validate-length-range="4" adress="adress" required="required" type="text">
    </div>
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="name">City<span class="required">*</span>
    </label>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <input id="city" class="form-control col-md-7 col-xs-12" data-validate-length-range="1" lastname="name" required="required" type="text">
    </div>
  </div>
  <div class="item form-group">
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="name">State <span class="required">*</span>
    </label>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <input id="state" class="form-control col-md-7 col-xs-12" data-validate-length-range="4" adress="adress" required="required" type="text">
    </div>
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="name">Country<span class="required">*</span>
    </label>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <input id="country" class="form-control col-md-7 col-xs-12" data-validate-length-range="1" lastname="name" required="required" type="text">
    </div>
  </div>
 <div class="form-group">
  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
   <button type="submit" class="btn btn-success">Update Account</button>
  </div>
 </div>
</form>
