{% extends "dashboard/base_site.html" %}


{% block content %}
   <div class="col-md-12 col-sm-12 col-xs-12">
   <div class="x_panel">
   </div>
   </div>

   <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
     <div class="col-md-3">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>Company <span> State of art</span>
					</h3>
					<h4><i>$</i>5<i>.49</i>
					<span>
					Per Month </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						Brand Awarness
					</li>
          <li>
						Brand Preverence
					</li>
          <li>
						Brand Consideration
					</li>
				</ul>
				<div class="pricing-footer">
					<a href="javascript:;" class="btn yellow-crusta">
					Subscribe
					</a>
				</div>
			</div>
		</div>
    <div class="col-md-3">
     <div class="pricing hover-effect">
       <div class="pricing-head">
         <h3>Image<span> State of art</span>
         </h3>
         <h4><i>$</i>5<i>.49</i>
         <span>
         Per Month </span>
         </h4>
       </div>
       <ul class="pricing-content list-unstyled">
         <li>
           Brand Awarness
         </li>
         <li>
           Brand Preverence
         </li>
         <li>
           Brand Consideration
         </li>
         <li>
         </li>
         <li>
         </li>
         <li>
         </li>
         <li>
         </li>
         <li>
         </li>
       </ul>
       <div class="pricing-footer">
         <a href="javascript:;" class="btn yellow-crusta">
         Subscribe
         </a>
       </div>
     </div>
   </div>
   <div class="col-md-3">
    <div class="pricing hover-effect">
      <div class="pricing-head">
        <h3>Media awareness <span> State of art</span>
        </h3>
        <h4><i>$.49</i>
        <span>
        Per Month </span>
        </h4>
      </div>
      <ul class="pricing-content list-unstyled">
        <li>
          Brand Awarness
        </li>
        <li>
          Brand Preverence
        </li>
        <li>
          Brand Consideration
        </li>
      </ul>
      <div class="pricing-footer">
        <a href="brandexperience_start_survey.html" class="btn yellow-crusta">
        Start New Campaign
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
   <div class="pricing hover-effect">
     <div class="pricing-head">
       <h3>Who are<span> State of art</span>
       </h3>
       <h4><i>$</i>5<i>.49</i>
       <span>
       Per Month </span>
       </h4>
     </div>
     <ul class="pricing-content list-unstyled">
       <li>
         Brand Awarness
       </li>
       <li>
         Brand Preverence
       </li>
       <li>
         Brand Consideration
       </li>
       <li>
       </li>
       <li>
       </li>
       <li>
       </li>
       <li>
       </li>
       <li>
       </li>
     </ul>
     <div class="pricing-footer">
       <a href="start_new_survey.html" class="btn yellow-crusta">
       Subscribe
       </a>
     </div>
   </div>
 </div>
    </div>
   </div>


{% endblock content %}
