{% extends "dashboard/base_site.html" %}

{% block title %} Brand Power{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Primary KPI</span>
        <div class="count">55%</div> <!-- Primary KPI current score-->
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>2% </i> From (time_period)</span><!-- Change from last week/month-->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Secondary KPI</span>
        <div class="count">20%</div> <!-- Secondary KPI current score-->
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>2% </i> From (time_period)</span><!-- Change from last week/month-->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Tertiary KPI</span>
        <div class="count">8%</div><!-- Tertiary KPI current score-->
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>4% </i> From (time_period)</span><!-- Change from last week/month-->
      </div>
    </div>
    <!-- /top tiles -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div id="container_low">
            <script>

            Highcharts.chart('container_low', {

                title: {
                    text: 'Aided Brand Awareness Development by Provider, 2010-2017'
                },

                subtitle: {
                    text: 'Source: sentact.com'
                },

                yAxis: {
                    title: {
                        text: '% aided brand awareness',

                    },
                    min:0,
                    max:100,
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        pointStart: 2010
                    }
                },

                series: [{
                    name: 'T-Mobile',
                    data: [35, 40, 41, 42, 43, 48, 51, 55]
                }, {
                    name: 'KPN',
                    data: [55, 60, 61, 72, 73, 78, 71, 75]
                }, {
                    name: 'Vodafone',
                    data: [95, 90, 81, 82, 83, 88, 81, 85]
                }, {
                    name: 'Telfort',
                    data: [5, 10, 11, 12, 13, 18, 11, 15]
                }, {
                    name: 'Tele2',
                    data: [25, 20, 21, 22, 23, 28, 21, 25]
                }]

            });

            </script>

    </div>
  </div>
</div>


<div class="col-md-3 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="clearfix">
      </div>
      <div class="x_content">
        {% if user.is_authenticated %}
        <p>Welcome {{ user.username }} !!!</p>
        {% endif %}


</div>
</div>
</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="clearfix">
      </div>
      <div class="x_content">

</div>
</div>
</div>
</div>
</div>



{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
