{% extends "dashboard/base_site.html" %}

{% block content %}
  <div class="col-md-3 col-sm-3 col-xs-3">
   <div class="x_panel">
    <div class="x_title">
     <h3><i class="fa fa-cog"></i>Settings</h3>
     <div class="clearfix"></div>
     </div>
     <div class="x_content">
       <ul class="nav nav-tabs tabs-left">
        <li class="active"><a href="#account" data-toggle="tab">Account</a>
        </li>
        <li><a href="#company" data-toggle="tab">Company</a>
        </li>
        <li><a href="#brand" data-toggle="tab">Brand</a>
        </li>
        <li><a href="#authorisation" data-toggle="tab">Authorisation</a>
        </li>
        <li><a href="#notifications" data-toggle="tab">Notifications</a>
        </li>
        <li><a href="#billing" data-toggle="tab">Billing</a>
        </li>
       </ul>
     </div>
    </div>
   </div>
   <div class="col-md-9 col-sm-6 col-xs-12">
    <div class="x_panel">
     <div class="tab-content">
        <div class="tab-pane active" id="account">
          <div class="x_content">
               {% include "dashboard/modules/forms/settings_account_user.html" %}
          </div>
          <div class="x_content">
             {% include "dashboard/modules/forms/settings_account_user_changepassword.html" %}
          </div>
        </div>
        <div class="tab-pane" id="company">
          <div class="x_content">
              {% include "dashboard/modules/forms/settings_account_company.html" %}
          </div>
           <div class="x_content">
              {% include "dashboard/modules/forms/settings_account_company_billing.html" %}
           </div>
        </div>
           <div class="tab-pane" id="brand">
             <div class="x_content">
                 {% include "dashboard/modules/forms/settings_account_brand_general.html" %}
             </div>
           </div>


           <div class="tab-pane" id="authorisation"></div>
           <div class="tab-pane" id="notifications"></div>
           <div class="tab-pane" id="billing"></div>
        </div>


{% endblock content %}
