<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>Sentact</span></a>
  </div>

  <div class="clearfix"></div>



  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
       <ul class="nav side-menu">
           <li><a href="brandexperience.html"> <i class="fa fa-question"></i> Brand Experience </a></li>
           <ul>
            <li><a href="brandexperience_pricing.html"> <i class="fa fa-question"></i> New Survey </a></li>
           </ul>
       </ul>
       <ul class="nav side-menu">
           <li><a href="customerexperience.html"> <i class="fa fa-question"></i> Customer Experience </a></li>
       </ul>
       <ul class="nav side-menu">
           <li><a href="employeeexperience.html"> <i class="fa fa-question"></i> Employee Experience </a></li>
       </ul>
       <ul class="nav side-menu">
           <li><a href="productexperience.html"> <i class="fa fa-question"></i> Product Experience </a></li>
           </li>
       </ul>
    </div>
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a href="support.html"> <i class="fa fa-question"></i> Support </a></li>
     </ul>
     <ul class="nav side-menu">
       <li><a href="notifications.html"> <i class="fa fa-bullhorn"></i> Notifications </a></li>
     </ul>
     <ul class="nav side-menu">
      <li><a href="settings.html"><i class="fa fa-cog"></i> Settings</a></li>
     </ul>
     <ul class="nav side-menu">
      <li><a href="logout.html"> <i class="fa fa-power-off"></i> Log Out </a></li>
     </ul>
    </div>
  </div>
  <!-- /sidebar menu -->


  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Toggle">
      <span class="fa fa-bars" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
