{% extends "dashboard/base_site.html" %}


{% block content %}
        <div class="col-md-9 col-sm-9 col-xs-9">
          <div class="x_panel">
            <div class="x_title">
              <h2>New Survey</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <!-- Smart Wizard first line -->

            <div id="tab" class="row form-group product-chooser" data-toggle="buttons-radio">

                                     <a href="#brandxp" class="" data-toggle="tab">
                                       <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                       <div class="product-chooser-item">
                                         <img src="" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="">
                                               <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                           <h4>Brand Experience</h4>
                                           <span class="description">s. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
                                           <input type="radio" name="product" >
                                         </div>
                                         <div class="clear"></div>
                                       </div>
                                         </div>
                                     </a>


                                     <a href="#customerxp" class="" data-toggle="tab">
                                       <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                       <div class="product-chooser-item">
                                         <img src="" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="">
                                               <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                           <h4>Customer Experience</h4>
                                           <span class="description">mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
                                           <input type="radio" name="product" value="">
                                         </div>
                                         <div class="clear"></div>
                                       </div>
                                       </div>
                                     </a>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                     <a href="#employeexp" class="" data-toggle="tab">
                                       <div class="product-chooser-item">
                                         <img src="" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="">
                                               <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                           <h4>Employee Experience</h4>
                                           <span class="description">s mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
                                           <input type="radio" name="product" value="employeexp">
                                         </div>
                                         <div class="clear"></div>
                                       </div>
                                     </a>
                                    </div>
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                     <a href="#productxp" class="" data-toggle="tab">
                                       <div class="product-chooser-item">
                                         <img src="" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="">
                                               <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                           <h4>Product Experience</h4>
                                           <span class="description">mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
                                           <input type="radio" name="product" value="productxp">
                                         </div>
                                         <div class="clear"></div>
                                       </div>
                                     </a>
                                    </div>
           </div>
          </div>
          <!-- End Smart Wizard First Line -->
          <!-- Start Smart Wizard Second Line -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                               <div class="product-chooser-item">
                                  <div class="tab-content active">
                                    <div class="tab-pane" id="brandxp">
                                                  <br>
                                                  <p class="lead">Prices content</p>
                                                  <div class="row">
                                                      <div class="span3">
                                                        <img src="http://placehold.it/200x200">
                                                      </div>
                                                      <div class="span9">
                                                        <p>There are now two rates of Capital Gains Tax (CGT) for individuals. A standard rate of 18% and a higher rate of 28%. The annual exempt amount is still £10,100 for ’10-’11. For more information on CGT please see the factsheet we have put together, which is available to download below.</p>
                                                      </div>
                                                  </div>
                                                </div>
                                    <div class="tab-pane" id="customerxp">
                                                      <br>
                                                  <p class="lead">Features content</p>
                                                  <div class="row">
                                                      <div class="span6">
                                                        <p>For a full list of our services including support and consultancy for start-up businesses please see the Our Services section of the website. Alternatively if you have a specific service or question in mind please don’t hesitate to contact us to discuss this using the contact details on the Contact Us page of the site.</p>
                                                      </div>
                                                      <div class="span6">
                                                        <img src="http://placehold.it/400x400">
                                                      </div>
                                                  </div>
                                                </div>
                                    <div class="tab-pane" id="employeexp">
                                                      <br>
                                                  <p class="lead">Requests content</p>
                                                  <div class="row">
                                                      <div class="span3">
                                                        <img src="http://placehold.it/200x200">
                                                      </div>
                                                      <div class="span5">
                                                        <p>There are now two rates of Capital Gains Tax (CGT) for individuals. A standard rate of 18% and a higher rate of 28%. The annual exempt amount is still £10,100 for ’10-’11. For more information on CGT please see the factsheet we have put together, which is available to download below.</p>
                                                      </div>
                                                      <div class="span4">
                                                        <img src="http://placehold.it/400x200">
                                                      </div>
                                                  </div>
                                                </div>
                                    <div class="tab-pane" id="productxp">
                                                      <br>
                                                  <p class="lead">Contact Us</p>
                                                  <form class="well span8">
                                                    <div class="row">
                                                          <div class="span3">
                                      <p>dsfdsfsdfs</p>
                                                          </div>
                                                          <div class="span5">
                                                              <label>Message</label>
                                                              <textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea>
                                                          </div>

                                                          <button type="submit" class="btn btn-primary pull-right">Send</button>
                                                      </div>
                                                  </form>
                                                </div>
                                  </div>

                               </div>
                              </div>




                                  <!-- End Smart Wizard Second Line -->
          <!-- End Smart Wizard Second Line -->
         </div>
        </div>

        <!-- Side bar right prixing -->
         <div class="col-md-3 col-sm-3 col-xs-3">
                              <div class="x_panel_float">
                                <div class="x_title">
                                  <h2>New Survey</h2>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                               </div>
                              </div>
                            </div>
        <!-- End Side bar right prixing -->


{% endblock content %}

{% block javascripts %}
 {{ block.super}}
  <!-- jQuery Smart Wizard -->
  <script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
{% endblock javascripts %}
