<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle main"><i class="fa fa-angle-double-left"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class=" lang-sm" lang="nl"></span></a>
        <ul class="dropdown-menu dropdown-usermenu pull-right ">
          <li><a><span class="lang-sm lang-lbl" lang="en"></span></a></li>
          <li><a><span class="lang-sm lang-lbl" lang="du"></span></a></li>
          <li><a><span class="lang-sm lang-lbl" lang="be"></span></a></li>
          <li><a><span class="lang-sm lang-lbl" lang="fr"></span></a></li>
          <li><a><span class="lang-sm lang-lbl" lang="it"></span></a></li>
        </ul>
      </li>

    <ul class="nav navbar-nav navbar-right">
      <li class="user-settings-btn">
        <a href="" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Account <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right ">
          <li><a href="settings.html"><i class="fa fa-cog pull-right"></i>Settings</a></li>
          <li><a href="logout.html"><i class="fa fa-power-off pull-right"></i>Log Out</a></li>
        </ul>
      </li>

      <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bullhorn"></i>
          <span class="badge bg-green">6</span>
        </a>
        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <div class="text-center">
                <a href="notifications.html"><strong>See All Alerts</strong> <i class="fa fa-angle-right"></i> </a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
